@using System.Data
@model DataSet

@{
    ViewBag.Title = "แก้ไขข้อมูลสถานประกอบการ";
    Layout = "~/Views/Shared/_LayoutAuthoritiesTemplate.cshtml";
}

    <script type="text/javascript">
    $(document).ready(function () {

        var _number = $('#get_number').val();
        $("input[name=con_number][value='" + _number + "']").prop("checked", true);
        var _acc = $('#get_acc').val();
        $("input[name=accommodation][value='" + _acc + "']").prop("checked", true);
        var _bus = $('#get_bus').val();
        $("input[name=bus][value='" + _bus + "']").prop("checked", true);
        var _exam = $('#get_exam').val();
        $("input[name=exam][value='" + _exam + "']").prop("checked", true);

        $("#province").change(function () {
            var Area = {};
            Area.url = "/Authorities/Area";
            Area.type = "POST";
            Area.data = JSON.stringify({
                province: $("#province").val()
            });
            Area.datatype = "json";
            Area.contentType = "application/json";
            Area.success = function (AreaList) {
                $('.selectpicker').selectpicker('render');
                $("#area").empty();
                $("#sub_area").empty();
                $('.selectpicker').selectpicker('refresh');
                $('.selectpicker').selectpicker('render');
                $("#area").append("<option hidden disabled selected>กรุณาเลือกอำเภอ</option>");
                $("#sub_area").append("<option hidden disabled selected>กรุณาเลือกตำบล</option>");
                $('.selectpicker').selectpicker('refresh');
                for (var i = 0; i < AreaList.length; i++) {
                    $('.selectpicker').selectpicker('render');
                    $("#area").append("<option>" + AreaList[i] + "</option>");
                    $('.selectpicker').selectpicker('refresh');
                }
            };
            Area.error = function () {
                alert("Error in Getting Area !!");
            };
            $.ajax(Area);
        });

        $("#area").change(function () {
            var Sub_Area = {};
            Sub_Area.url = "/Authorities/Sub_Area";
            Sub_Area.type = "POST";
            Sub_Area.data = JSON.stringify({
                area: $("#area").val(),
                province: $("#province").val()
            });
            Sub_Area.datatype = "json";
            Sub_Area.contentType = "application/json";
            Sub_Area.success = function (Sub_AreaList) {
                $('.selectpicker').selectpicker('render');
                $("#sub_area").empty();
                $('.selectpicker').selectpicker('refresh');
                $('.selectpicker').selectpicker('render');
                $("#sub_area").append("<option hidden disabled selected>กรุณาเลือกตำบล</option>");
                $('.selectpicker').selectpicker('refresh');
                for (var i = 0; i < Sub_AreaList.length; i++) {
                    $('.selectpicker').selectpicker('render');
                    $("#sub_area").append("<option>" + Sub_AreaList[i] + "</option>");
                    $('.selectpicker').selectpicker('refresh');
                }
            };
            Sub_Area.error = function () {
                alert("Error in Getting Sub_Area !!");
            };
            $.ajax(Sub_Area);
        });

        $("#sub_area").change(function () {
            var Sub_Area = {};
            Sub_Area.url = "/Authorities/Prototype_id";
            Sub_Area.type = "POST";
            Sub_Area.data = JSON.stringify({
                sub_area: $("#sub_area").val(),
                area: $("#area").val(),
                province: $("#province").val()
            });
            Sub_Area.datatype = "json";
            Sub_Area.contentType = "application/json";
            Sub_Area.success = function (prototype_id) {
                $("#prototype_id").val(prototype_id)
            };
            Sub_Area.error = function () {
                alert("Error in Getting Sub_Area !!");
            };
            $.ajax(Sub_Area);
        });

    });
    </script>

    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>


    <div class="container-fluid">

        <div class="row">
            <div class="col-9" style="margin:auto;">
                <div class="card">
                    <div class="card-body">
                        <!-- title -->
                        <div class="align-items-center">
                            <h4 class="card-title">เพิ่มข้อมูลสถานประกอบการ</h4>
                            <h5 class="card-subtitle">ข้อมูลสถานประกอบการทั้งเก่าและใหม่สามารถเพิ่มได้ที่นี่</h5>
                            <h5 class="card-subtitle">**กรณีสถานประกอบการใหม่สามารถเพิ่มความต้องรับนักศึกษาได้เลยที่ปุ่ม ต้องการรับนักศึกษาเพิ่ม</h5>
                            <hr />
                        </div>
                        <!-- title -->
                        <form class="form-horizontal" method="post">
                            <div class="hide">
                                <input id="get_number" value="@ViewData["con_number"]" />
                                <input id="get_acc" value="@Model.Tables["Company"].Rows[0]["accommodation"]" />
                                <input id="get_bus" value="@Model.Tables["Company"].Rows[0]["bus"]" />
                                <input id="get_exam" value="@Model.Tables["Company"].Rows[0]["exam"]" />
                                <input id="prototype_id" name="prototype_id" value="@ViewData["prototype_id"]" />
                                <input name="user_id_title" value="@ViewData["user_id"]" />
                                <input name="name_title" value="@ViewData["name"]" />
                                <input name="company_id" value="@Model.Tables["Company"].Rows[0]["company_id"]" />
                                <input name="address_id" value="@Model.Tables["Company"].Rows[0]["address_id"]" />
                                <input name="rs_id" value="@Model.Tables["Company"].Rows.Count" />
                            </div>
                            <div class="form-group col-md-12 d-flex">
                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold;">ชื่อภาษาอังกฤษ :</label>
                                    <input class="form-control" name="name_en[0]" maxlength="150" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["name_en"]" required />
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold;">ชื่อภาษาไทย :</label>
                                    <input class="form-control" name="name_th[0]" maxlength="150" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["name_th"]" required />
                                </div>
                            </div>
                            <div class="form-group col-md-12 d-flex">
                                <div class="col-md-2">
                                    <label class="control-label" style="font-weight:bold;">ที่อยู่เลขที่ :</label>
                                    <input class="form-control" name="number" maxlength="10" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["number1"]" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">หมู่บ้าน/อาคาร :</label>
                                    <input class="form-control" name="building" maxlength="50" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["building"]" />
                                </div>
                                <div class="col-md-1">
                                    <label class="control-label" style="font-weight:bold;">ชั้น :</label>
                                    <input class="form-control" name="floor" maxlength="50" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["floor"]" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">ซอย :</label>
                                    <input class="form-control" name="lane" maxlength="50" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["lane"]" />
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">ถนน :</label>
                                    <input class="form-control" name="road" maxlength="50" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["road"]" />
                                </div>
                            </div>

                            <div class="form-group col-md-12 d-flex">
                                <div class="col-md-4">
                                    <label class="control-label" style="font-weight:bold;">จังหวัด :</label>
                                    <select class="selectpicker form-control" id="province" name="province" data-live-search="true">
                                        <option selected hidden value="@Model.Tables["Company"].Rows[0]["province"]">@Model.Tables["Company"].Rows[0]["province"]</option>
                                        @foreach (string province in ViewBag.province)
                                        {
                                            <option value="@province">
                                                @province
                                            </option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label" style="font-weight:bold;">อำเภอ/เขต :</label>
                                    <select id="area" class="selectpicker form-control" name="area">
                                        <option selected hidden value="@Model.Tables["Company"].Rows[0]["area"]">@Model.Tables["Company"].Rows[0]["area"]</option>
                                        @foreach (string area in ViewBag.area)
                                        {
                                            <option>
                                                @area
                                            </option>
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label" style="font-weight:bold;">ตำบล/แขวง :</label>
                                    <select id="sub_area" class="selectpicker form-control" name="sub_area">
                                        <option selected hidden value="@Model.Tables["Company"].Rows[0]["sub_area"]">@Model.Tables["Company"].Rows[0]["sub_area"]</option>
                                        @foreach (string sub_area in ViewBag.sub_area)
                                        {
                                            <option>
                                                @sub_area
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="form-group col-md-12 d-flex">
                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">โทรศัพท์ :</label>
                                    <input class="form-control" name="phone" maxlength="20" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["phone"]" />
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">โทรสาร :</label>
                                    <input class="form-control" name="fax" maxlength="20" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["fax"]" />
                                </div>

                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold;">E-mail :</label>
                                    <input class="form-control" name="email" maxlength="100" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["email"]" />
                                </div>
                            </div>

                            <div class="form-group col-md-12 d-flex">
                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">พิกัด X :</label>
                                    <input class="form-control" name="pX" maxlength="20" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["px"]" />
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">พิกัด Y :</label>
                                    <input class="form-control" name="pY" maxlength="20" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["py"]" />
                                </div>
                            </div>

                            <div class="form-group col-md-12 d-flex">
                                <div class="col-md-5">
                                    <label class="control-label" style="font-weight:bold;">Web Site :</label>
                                    <div class="input-group">
                                        <input class="form-control col-xl-3" style="text-align:right; font-weight:bold;" value="https://" disabled />
                                        <input class="form-control col-xl-9" name="website" maxlength="50" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["website"]" required />
                                    </div>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="website" data-valmsg-replace="true"></span>
                                </div>

                                <div class="col-md-5">
                                    <label class="control-label" style="font-weight:bold;">ประเภทธุรกิจ/ธุรกิจ/ผลิตภัณฑ์ :</label>
                                    <input class="form-control" name="business_type" maxlength="150" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["business_type"]" />
                                </div>

                                <div class="col-md-2">
                                    <label class="control-label" style="font-weight:bold;">จำนวนพนักงานรวม :</label>
                                    <input class="form-control" name="all_employees" maxlength="15" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["all_employee"]" />
                                </div>
                            </div>

                            <div class="form-group col-md-12 d-flex">
                                <div class="col-md-5">
                                    <label class="control-label" style="font-weight:bold;">ชื่อ-นามสกุล ผู้จัดการสถานประกอบการ/หัวหน้าหน่วยงาน :</label>
                                    <input class="form-control" name="name_s" maxlength="50" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["name"]" />
                                </div>

                                <div class="col-md-4">
                                    <label class="control-label" style="font-weight:bold;">ตำแหน่ง :</label>
                                    <input class="form-control" name="position_s" maxlength="30" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["position"]" />
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">แผนก/ฝ่าย :</label>
                                    <input class="form-control" name="department_s" maxlength="30" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["department"]" />
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="col-md-12" style="font-weight:bold;">หากมหาวิทยาลัยฯ ประสงค์จะติดต่อประสานงานในรายละเอียดกับสถานประกอบการ/หน่วยงาน :</label>
                                <div class="col-md-11" style="margin:auto;">
                                    <label class="radio-inline" style="margin-right:30px;">
                                        <input type="radio" name="con_number" value="1" class="m-r-10">ติดต่อตามรายชื่อข้างตัน
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="con_number" value="2" class="m-r-10">ติดต่อกับบุคคลที่สถานประกอบการ/หน่วยงานหมอบหมาย ต่อไปนี้
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-md-12 d-flex">
                                <div class="col-md-5">
                                    <label class="control-label" style="font-weight:bold;">ชื่อ-นามสกุล ของบุคคลในสถานประกอบการ :</label>
                                    <input class="form-control" name="name" maxlength="50" autocomplete="off" value="@Model.Tables["Company"].Rows[1]["name"]" />
                                </div>

                                <div class="col-md-4">
                                    <label class="control-label" style="font-weight:bold;">ตำแหน่ง :</label>
                                    <input class="form-control" name="position" maxlength="30" autocomplete="off" value="@Model.Tables["Company"].Rows[1]["position"]" />
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">แผนก/ฝ่าย :</label>
                                    <input class="form-control" name="department" maxlength="30" autocomplete="off" value="@Model.Tables["Company"].Rows[1]["department"]" />
                                </div>
                            </div>

                            <div class="form-group col-md-12 d-flex">
                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">โทรศัพท์ :</label>
                                    <input class="form-control" name="con_phone" maxlength="15" autocomplete="off" value="@Model.Tables["Company"].Rows[1]["phone1"]" />
                                </div>

                                <div class="col-md-3">
                                    <label class="control-label" style="font-weight:bold;">โทรสาร :</label>
                                    <input class="form-control" name="con_fax" maxlength="15" autocomplete="off" value="@Model.Tables["Company"].Rows[1]["fax1"]" />
                                </div>

                                <div class="col-md-6">
                                    <label class="control-label" style="font-weight:bold;">E-mail :</label>
                                    <input class="form-control" name="con_email" maxlength="100" autocomplete="off" value="@Model.Tables["Company"].Rows[1]["email1"]" />
                                </div>
                            </div>

                            <div class="form-group col-md-12 d-flex">
                                <div class="col-md-12">
                                    <label class="control-label" style="font-weight:bold;">ข้อกำหนดอื่น ๆ :</label>
                                    <input class="form-control" name="job_request" maxlength="150" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["job_request"]" />
                                </div>
                            </div>

                            <div class="form-group col-md-12 d-flex">
                                <div class="col-md-4">
                                    <label class="control-label" style="font-weight:bold;">เวลาในการปฏิบัติงาน :</label>
                                    <input class="form-control" name="job_time" maxlength="20" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["job_time"]" />
                                </div>

                                <div class="col-md-4">
                                    <label class="control-label" style="font-weight:bold;">วันในการปฏิบัติงาน :</label>
                                    <input class="form-control" name="job_day" maxlength="50" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["job_day"]" />
                                </div>

                                <div class="col-md-4">
                                    <label class="control-label" style="font-weight:bold;">ค่าตอบแทน :</label>
                                    <input class="form-control" type="text" name="pay" maxlength="20" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["pay"]">
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="row col-md-12">
                                    <div class="column col-md-6">
                                        <label class="control-label" style="font-weight:bold;">ที่พัก :</label>
                                        <div style="margin-left:50px;">
                                            <div class="radio">
                                                <label><input type="radio" name="accommodation" class="m-r-10" value="have free">มีไม่เสียค่าใช้จ่าย</label>
                                            </div>
                                            <div class="radio d-flex align-items-center">
                                                <label>
                                                    <input type="radio" name="accommodation" class="m-r-10" value="have">มีนักศึกษาเสียค่าใช้จ่ายเอง
                                                </label>
                                                <input class="form-control" type="number" name="charge_accommodation" style="width:30%; margin-right:5px; margin-left:5px;" value="@Model.Tables["Company"].Rows[0]["charge_acc"]">บาท/เดือน
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="accommodation" class="m-r-10" value="none">ไม่มี</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="column col-md-6">
                                        <label class="control-label" style="font-weight:bold;">รถรับส่งไปกลับระหว่างสถานประกอบการ ที่พัก และชุมชนใกล้เคียง :</label>
                                        <div style="margin-left:50px;">
                                            <div class="radio">
                                                <label><input type="radio" name="bus" value="have free" class="m-r-10">มีไม่เสียค่าใช้จ่าย</label>
                                            </div>
                                            <div class="radio d-flex align-items-center">
                                                <label>
                                                    <input type="radio" name="bus" class="m-r-10" value="have">มีนักศึกษาเสียค่าใช้จ่ายเอง
                                                </label>
                                                <input class="form-control" type="number" name="charge_bus" style="width:30%; margin-right:5px; margin-left:5px;" value="@Model.Tables["Company"].Rows[0]["charge_bus"]">บาท/เดือน
                                            </div>
                                            <div class="radio">
                                                <label><input type="radio" name="bus" class="m-r-10" value="none">ไม่มี</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <label class="control-label" style="font-weight:bold;">สวัสดิการอื่น ๆ ถ้ามี :</label>
                                <input class="form-control" type="text" name="welfare" maxlength="100" autocomplete="off" value="@Model.Tables["Company"].Rows[0]["welfare"]">
                            </div>

                            <div class="form-group col-md-12 d-flex">
                                <div class="col-md-8">
                                    <label class="control-label" style="font-weight:bold;">การคัดเลือกนักศึกษาเข้าปฏิบัติงาน :</label>
                                    <div class="col-md-11" style="margin:auto;">
                                        <label class="radio-inline" style="margin-right:30px;">
                                            <input type="radio" name="exam" class="m-r-10" value="yes">ต้องการคัดเลือกนักศึกษาเอง
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="exam" class="m-r-10" value="no">ไม่ต้องการคัดเลือกนักศึกษา
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label" style="font-weight:bold;">Blacklist :</label>
                                    <div>
                                        <select class="selectpicker form-control" name="blacklist[0]" data-width="50%">
                                            <option value="@Model.Tables["Company"].Rows[0]["blacklist"]" selected hidden>@Model.Tables["Company"].Rows[0]["blacklist"]</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12" style="text-align:center;">
                                <input type="submit" value="บันทึก" class="btn btn-info" style="margin:auto; width:150px; margin-top:30px;" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

