@using System.Data
@model DataSet
@{
    ViewBag.Title = "แก้ไขข้อมูลภาคการศึกษา";
    Layout = "~/Views/Shared/_LayoutAdminTemplate.cshtml";
}

    <script>
    $(document).ready(function () {
        //--------------------------------------------------------------------------------

        var _to_go = $('#get_to_go').val();
        $('select[name=to_go1]').val(_to_go);
        $('.selectpicker').selectpicker('refresh');

        $('.datepicker').datepicker({
            autoclose: true,
            language: 'th',
            format: 'dd/mm/yyyy',
            orientation: "bottom auto"
        });

    });
    </script>

    <div class="container-fluid" style="margin-top:30px;">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-5" style="margin-bottom:8%; margin-left:auto;">
                <div class="card">
                    <div class="card-body">
                        <div style="text-align:center;">

                            <h4 class="card-title">แก้วันที่และจำนวนครั้งการออกนิเทศ</h4>
                            <h5 class="card-subtitle">โปรดตรวจสอบข้อมูลก่อนกดยืนยัน</h5>
                            <hr />
                        </div>
                        <form class="form-horizontal form-material" method="post" id="formAccount">
                            <div class="hide">
                                <input name="user_id_title" value="@ViewData["user_id"]" />
                                <input name="name_title" value="@ViewData["name"]" />
                                <input type="number" id="get_to_go" value="@Model.Tables["Semester"].Rows[0]["to_go"]">
                                <input type="text" name="semester_id" value="@Model.Tables["Semester"].Rows[0]["semester_id"]-@ViewData["show"].ToString()">
                            </div>
                            <div class="form-group" style="text-align:center;">
                                <div style="margin:auto;">
                                    <div class="form-group">
                                        <label class="col-md-12" style="font-weight:bold;">ปีการศึกษา :</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" value="@Model.Tables["Semester"].Rows[0]["semester_id"]" style="width:15%; text-align:center; margin:auto; margin-bottom:30px;" autocomplete="off" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-12" style="font-weight:bold;">ภาคการศึกษาที่ @ViewData["show"].ToString()</label>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-md-12">วันที่เริ่มต้นการออก<!---->@ViewData["txt"].ToString() :</label>
                                            <div class="col-md-12">
                                                <input class="form-control datepicker" type="text" name="date_start1" value="@Model.Tables["Semester"].Rows[0]["date_start"]" style="width:40%; margin:auto; text-align:center;" autocomplete="off" required>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-md-12">วันที่สิ้นสุดการออก<!---->@ViewData["txt"] :</label>
                                            <div class="col-md-12">
                                                <input class="form-control datepicker" type="text" name="date_end1" value="@Model.Tables["Semester"].Rows[0]["date_end"]" style="width:40%; margin:auto; text-align:center;" autocomplete="off" required>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-md-12">จำนวนครั้งในการออกนิเทศ :</label>
                                            <div class="col-md-12">
                                                <select class="selectpicker form-control col-md-12" id="to_go1" title="Please select" name="to_go1" data-width="40%">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="form-group">
                                <div class="col-md-12" style="text-align:center;">
                                    <button class="btn btn-success" style="width:100px; margin:auto; margin-top:30px;" type="submit">ยืนยัน</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4" style="margin-right:auto;">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="text-align:center;">ปีการศึกษาก่อนหน้า</h4>
                        <h5 class="card-subtitle" style="text-align:center;">ตัวอย่างในการกำหนดภาคการศึกษา</h5>
                        <hr />
                        <div class="feed-widget">
                            <div class="form-group">
                                <label class="col-md-12" style="font-weight:bold; text-align:center;">ปีการศึกษา :</label>
                                <div class="col-md-12">
                                    <input type="text" class="form-control" style="width:30%; text-align:center; margin:auto; margin-bottom:30px;" value="@Model.Tables["Semester1"].Rows[0]["semester_id"]" disabled>
                                </div>
                            </div>
                            <div class="form-group" style="margin:auto; text-align:center;">
                                <div class="form-group col-md-12">
                                    <label class="col-md-12" style="font-weight:bold;">ภาคการศึกษาที่ @ViewData["edit"].ToString()</label>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-12">วันที่เริ่มต้นการออก<!---->@ViewData["txt"] :</label>
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" style="width:60%; margin:auto; text-align:center;" value="@Model.Tables["Semester1"].Rows[0]["date_start"]" disabled>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-12">วันที่สิ้นสุดการออก<!---->@ViewData["txt"] :</label>
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" style="width:60%; margin:auto; text-align:center;" value="@Model.Tables["Semester1"].Rows[0]["date_end"]" disabled>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <label class="col-md-12">จำนวนครั้งในการออกนิเทศ :</label>
                                    <div class="col-md-12">
                                        <input class="form-control" type="text" style="width:60%; margin:auto; text-align:center;" value="@Model.Tables["Semester1"].Rows[0]["to_go"]" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top:30px;">
                                <div class="d-flex align-items-center" style="text-align:center;">
                                    <div class="m-r-10" style="margin-left:auto;">
                                        <i class="btn-circle bg-orange text-white ti-calendar"></i>
                                    </div>
                                    <div class="m-r-10">
                                        <i class="btn-circle bg-success text-white ti-calendar"></i>
                                    </div>
                                    <div class="m-r-10" style="margin-right:auto;">
                                        <i class="btn-circle bg-primary text-white ti-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>

